* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px;
  line-height: 50px;
  padding: 0px 30px;
  background-color: cornflowerblue;
  color: whitesmoke;
  align-items: center;
}

nav p {
  align-items: center;
  font-weight: bolder;
  font-size: 25px;
}

nav p a {
  text-decoration: none;
  color: black;
}

nav .btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: white;
  background-color: black;
  font-weight: bolder;
  text-transform: capitalize;
}

nav .btn a {
  text-decoration: none;
  color: whitesmoke;
}

section {
  line-height: 60px;
  text-align: center;
  text-transform: capitalize;
}

section p {
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(156, 156, 247, 0.5)
  );
}

.login-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-banner,
.bannerpara {
  display: flex;
  width: 400px;
  background-color: black;
  color: whitesmoke;
  font-size: 30px;
  padding: 8px;
  border: 1px solid black;
  justify-content: center;
  text-align: center;
}

.container-add {
  display: flex;
  height: 90vh;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(156, 156, 247);
}

.flexadd {
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.inner {
  width: 400px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
}

label {
  color: black;
  outline: white;
  text-transform: capitalize;
  font-weight: bolder;
}

input {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  padding: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.loginbtn {
  background-color: black;
  padding: 8px;
  border-radius: 5px;
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: black;
  color: whitesmoke;
  line-height: 40px;
}
