@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b8cfec;
  font-family: "Poppins", sans-serif;
}

/* ==================mainpage====================== */

/* book card */

.navbar-brand {
  font-family: "Righteous", cursive;
}
.container {
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  height: 100px;
  /* max-width: 250px; */
  background-color: whitesmoke;
  /* box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1); */
  padding: 10px;
  margin: 10px;
}

.indeximg {
  max-width: 200px;
  height: 280px;
  transition: transform 0.2s;
}

.indeximg:hover {
  transform: scale(1.1);
}

/* ============all admins=========== */

.nav-pills .nav-link.active,
.nav-pills .nav-link:active,
.nav-pills .nav-link:focus {
  background-color: black;
  color: white;
}

.nav-pills .nav-link {
  background-color: white;
  color: black;
}


/* ============pagination=========== */

.pagination {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}
.current {
  padding: 8px 16px;
  background-color: rgb(160, 190, 245);
  color: white;
  border-radius: 5px;
}

.page-numbers {
  display: flex;
  justify-content: center;
}

.page-numbers a,
.page-numbers span {
  padding: 8px 16px;
  text-decoration: none;
}
