/* navbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px;
  line-height: 50px;
  padding: 0px 30px;
  background-color: cornflowerblue;
  color: whitesmoke;
  align-items: center;
}

nav p {
  align-items: center;
  font-weight: bolder;
  font-size: 25px;
}

nav p a {
  text-decoration: none;
  color: black;
}

nav .btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: white;
  background-color: black;
  font-weight: bolder;
  text-transform: capitalize;
}

nav .btn a {
  text-decoration: none;
  color: whitesmoke;
}

section {
  line-height: 60px;
  text-align: center;
  text-transform: capitalize;
}

section p {
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(156, 156, 247, 0.5)
  );
}

/* read-more */

.rmcontainer {
    height: auto;
    background-color: rgb(156, 156, 247);
  }
  
  .rmcover {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 4rem;
  }
  
  .rmbook {
    padding: 2rem;
  }
  
  .rmimg {
    width: 100%;
    max-width: 400px;
  }
  
  .rmdetail {
    padding: 2rem;
    text-align: center;
    width: 600px;
    text-align: justify;
  }
  
  .bookdetail {
    text-align: center;
  }
  
  .bookdetail label {
    color: whitesmoke;
  }


  /* footer */
  footer {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    line-height: 40px;
  }